<section id="about" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">About Me</h2>
        <div class="columns center">
            <div class="column is-two-thirds">
                <hr class="hr">
            </div>
        </div>
        <div class="columns center">
            <div class="column is-two-thirds">
                <div class="columns">
                    <div class="column center is-5">
                        <figure class="image is-256x256">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/me-256x256.jpg", class: "is-rounded") %>
                        </figure>
                    </div>
                    <div class="column is-7">
                        <p class="paragraph">
                            I'm a self-taught developer, and I like making web applications with Rails and React.
                        </p>
                        <p class="paragraph">
                            Few things make me happier than getting something to work and learning new things. 
                            In fact, some technologies I currently have on my learning list include Haskell, TypeScript,
                            and Node.js.
                        </p>
                        <p class="paragraph">
                            If I've got free time to spare, I'll probably be weight lifting, 
                            slammin' keys on my piano,
                            playing Super Smash Bros, or taking my Hayabusa 
                            up into the mountains for a joyride.
                        </p>
                        <p class="paragraph">
                            Here are some books and courses I'm currently learning from:
                        </p>
                        <p>
                            <%= link_to("The Odin Project", "https://www.theodinproject.com/") %>
                        </p>
                        <p>
                            <%= link_to("The Road to learn React", "https://roadtoreact.com/") %>
                        </p>
                        <p>
                            <%= link_to("The Rails 5 Way - Obie Fernandez", "https://books.google.com/books/about/The_Rails_5_Way.html?id=YGQ-DwAAQBAJ&source=kp_book_description") %>
                        </p>
                        <p>
                            <%= link_to("You Don't Know JS - Kyle Simpson", "https://github.com/getify/You-Dont-Know-JS") %>
                        </p>
                        <p>
                            <%= link_to("Programming in Haskell - Graham Hutton", "https://books.google.com/books/about/Programming_in_Haskell.html?id=75C5DAAAQBAJ&source=kp_book_description") %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>