<section id="contact" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Contact</h2>
        <div class="columns center">
            <div class="column is-two-thirds">
                <hr class="hr">
            </div>
        </div>
        <div class="paragraph center">
            <%= render 'layouts/flash' %>
        </div>
        <div class="columns center">
            <div class="column is-two-thirds">
                <p class="paragraph">
                    Questions or concerns? I can be contacted by <%= link_to("GitHub", "https://github.com/coped") %>, 
                    <%= link_to("LinkedIn", "https://www.linkedin.com/in/dennis-cope") %>, or by 
                    <%= mail_to("dennisaaroncope@gmail.com", "email") %> at <strong>dennisaaroncope@gmail.com</strong>. You can also use 
                    the form below to email me directly.
                    I'll reply promptly.
                </p>
                <%= form_with(scope: :contact, local: true, url: root_path, id: "contact-form" ) do |f| %>
                    <div class="field">
                        <%= f.label "Name *", { class: "label" } %>
                        <div class="control">
                            <%= f.text_field :name, { class: "input", placeholder: "John Doe", required: "true" } %>
                        </div>
                    </div>

                    <div class="field">
                        <%= f.label "Email *", { class: "label" } %>
                        <div class="control">
                            <%= f.email_field :email, { class: "input", placeholder: "example@email.com", required: "true" } %>
                        </div>
                    </div>

                    <div class="field">
                        <%= f.label "Message *", { class: "label"} %>
                        <div class="control">
                            <%= f.text_area :message, { class: "textarea", rows: "7", placeholder: "Hello!", required: "true" } %>
                        </div>
                    </div>
                        
                    <div class="g-recaptcha captcha" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>"></div>

                    <div class="field">
                        <div class="control">
                            <%= f.submit :submit, class: "button is-link" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>