<section id="projects" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Projects</h2>
        <div class="columns center">
            <div class="column">
                <hr class="hr">
            </div>
        </div>
        <h3 class="subtitle is-size-3 has-text-weight-bold">Trike World Limited</h3>
        <div class="columns">
            <div class="column">
                <%= link_to(
                        image_tag("https://coped.s3-us-west-1.amazonaws.com/trikeworldltd-screenshot-1000x505.jpg",
                        alt: "Trike world limited home page"),
                    @trike_link) %>
            </div>
            <div class="column">
                <p class="paragraph">
                    trikeworldltd.com (domain yet to transfer) is a fully responsive web 
                    application built for Trike World Ltd., my father’s V8 trike motorcycle 
                    business. The primary technologies involved in this project include 
                    Rails 6, the Bulma CSS framework, and PostgreSQL RDBMS.
                </p>
                <p class="paragraph">
                    The website features a custom authentication system and a blogging system, 
                    allowing my father to sign in and post pictures / updates about his latest 
                    projects with ease. The source code is also covered with comprehensive unit 
                    and integration tests, thanks to Minitest.
                </p>
                <p class="paragraph"><%= link_to("Visit website", @trike_link, class: "button is-primary") %></p>
                <a href="https://github.com/coped/trike-world-limited">
                    <button class="button">
                        <span class="icon">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/github-logo.svg") %>
                        </span>
                        <span>View project on GitHub</span>
                    </button>
                </a>
            </div>
        </div>
        <h3 class="subtitle is-size-3 has-text-weight-bold">Personal Portfolio</h3>
        <div class="columns">
            <div class="column">
                <%= link_to(
                        image_tag("https://coped.s3-us-west-1.amazonaws.com/coped-screenshot-1000x505.jpg",
                        alt: "coped.dev home page"),
                    @portfolio_link) %>
            </div>
            <div class="column">
                <p class="paragraph">
                    My portfolio page (currently coped.dev) is a website used to showcase my 
                    developer related projects. It also features a small personal blog. 
                    The site is fully responsive, built with Rails 6, and uses the Bulma 
                    CSS framework for layout and styling.
                </p>
                <p class="paragraph">
                    The contact form featured at the bottom of this page sends emails 
                    directly to my address using Rails’s 
                    Action Mailer and Heroku’s SendGrid addon. The form also uses 
                    Google’s reCAPTCHA v2 API to prevent spam messages.
                </p>
                <p class="paragraph">
                    <%= link_to("Visit website", @portfolio_link, class: "button is-primary") %>
                </p>
                <a href="https://github.com/coped/my-portfolio">
                    <button class="button">
                        <span class="icon">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/github-logo.svg") %>
                        </span>
                        <span>View project on GitHub</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>