<section id="tools" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">My Favorite Tools</h2>
        <div class="columns center">
            <div class="column">
                <hr class="hr">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Back end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/ruby-logo.svg",
                                alt: "Ruby logo", class: "column tool-icon") %>
                            <p class="column is-7">Ruby</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/rails-logo.svg",
                                alt: "Rails logo", class: "column tool-icon") %>
                            <p class="column is-7">Ruby on Rails</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/rspec-logo.svg",
                                alt: "RSpec logo", class: "column tool-icon") %>
                            <p class="column is-7">RSpec + Minitest</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/pg-logo.svg",
                                alt: "PostgreSQL logo", class: "column tool-icon") %>
                            <p class="column is-7">PostgreSQL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Front end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/javascript-logo.svg",
                                alt: "Javascript logo", class: "column tool-icon") %>
                            <p class="column is-7">JavaScript</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/react-logo.svg",
                                alt: "React logo", class: "column tool-icon") %>
                            <p class="column is-7">React</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/html-logo.svg",
                                alt: "HTML logo", class: "column tool-icon") %>
                            <p class="column is-7">HTML5</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/css-logo.svg",
                                alt: "CSS logo", class: "column tool-icon") %>
                            <p class="column is-7">CSS</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/bulma-logo.svg",
                                alt: "Bulma logo", class: "column tool-icon") %>
                            <p class="column is-7">Bulma</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle is-size-5 has-text-centered has-text-weight-bold">Miscellaneous</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/tux-logo.png",
                                alt: "Linux logo", class: "column tool-icon") %>
                            <p class="column is-7">Linux</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/git-logo.svg",
                                alt: "Git logo", class: "column tool-icon") %>
                            <p class="column is-7">Git</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/github-logo.svg",
                                alt: "GitHub logo", class: "column tool-icon") %>
                            <p class="column is-7">Github</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/heroku-logo.svg",
                                alt: "Heroku logo", class: "column tool-icon") %>
                            <p class="column is-7">Heroku</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/aws-logo.svg",
                                alt: "Amazon web services logo", class: "column tool-icon") %>
                            <p class="column is-7">Amazon Web Services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>