<section id="tools" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">My Favorite Tools</h2>
        <div class="columns center">
            <div class="column">
                <hr class="hr">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Back end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/ruby-logo.svg", { style: "max-width: 65px", alt: "Ruby logo", class: "column" }) %>
                            <p class="column is-7">Ruby</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/rails-logo.svg", { style: "max-width: 65px", alt: "Rails logo", class: "column" }) %>
                            <p class="column is-7">Ruby on Rails</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/rspec-logo.svg", { style: "max-width: 65px", alt: "RSpec logo", class: "column" }) %>
                            <p class="column is-7">RSpec + Minitest</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/pg-logo.svg", { style: "max-width: 65px", alt: "PostgreSQL logo", class: "column" }) %>
                            <p class="column is-7">PostgreSQL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Front end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/html-logo.svg", { style: "max-width: 65px", alt: "HTML logo", class: "column" }) %>
                            <p class="column is-7">HTML5</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/javascript-logo.svg", { style: "max-width: 65px", alt: "Javascript logo", class: "column" }) %>
                            <p class="column is-7">JavaScript</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/css-logo.svg", { style: "max-width: 65px", alt: "CSS logo", class: "column" }) %>
                            <p class="column is-7">CSS</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/sass-logo.svg", { style: "max-width: 65px", alt: "Sass logo", class: "column" }) %>
                            <p class="column is-7">Sass</p>
                        </div>

                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/bulma-logo.svg", { style: "max-width: 65px", alt: "Bulma logo", class: "column" }) %>
                            <p class="column is-7">Bulma</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle is-size-5 has-text-centered has-text-weight-bold">Miscellaneous</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/tux-logo.png", { style: "max-width: 65px", alt: "Linux logo", class: "column" }) %>
                            <p class="column is-7">Linux</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/git-logo.svg", { style: "max-width: 65px", alt: "Git logo", class: "column" }) %>
                            <p class="column is-7">Git</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/github-logo.svg", { style: "max-width: 65px", alt: "GitHub logo", class: "column"}) %>
                            <p class="column is-7">Github</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/heroku-logo.svg", { style: "max-width: 65px", alt: "Heroku logo", class: "column" }) %>
                            <p class="column is-7">Heroku</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>