<% provide(:title, "Dennis Cope") %>
<% provide(:page, "home") %>
<section id="header" class="hero is-dark is-bold is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <h1 class="title has-text-centered has-text-weight-light is-size-1">
                    Dennis <span class="blue">Cope</span>
                </h1>
                <h2 class="subtitle has-text-centered has-text-weight-light">
                    Jr Fullstack <span class="blue">Developer</span>
                </h2>
            </section>
            <section class="section">
                <div class="center">
                    <%= link_to(
                            image_tag("GitHub-Mark-Light-120px-plus-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "Link to github" } ),
                        "https://github.com/coped") %>
                    <%= link_to(
                            image_tag("linkedin-dark-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "Link to linkedin" } ),
                        "https://www.linkedin.com/in/dennis-cope/") %>
                    <%= mail_to("coped@tutanota.com",
                            image_tag("email-logo-dark-scaled.png",
                            { class: "banner-icon", size: "100x100", alt: "coped@tutanota" } )) %>
                </div>
            </section>
            <section class="section has-text-centered">
                <a id="banner-button" class="button is-inverted is-dark is-rounded is-outlined is-italic">
                    <p>Let's build something</p>
                </a>
            </section>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>
<%= render 'layouts/navbar' %>
<section id="about" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">About Me</h2>
        <div class="columns center">
            <div class="column is-two-thirds">
                <hr class="hr">
            </div>
        </div>
        <div class="columns center">
            <div class="column is-two-thirds">
                <p class="paragraph">
                    I'm a self-taught developer, and I like making Rails applications (though any new tech is fun to learn). 
                    I started teaching myself how to program in the first few months of 2019, and I made it a goal of mine 
                    to become a professional developer before the year's end.
                </p>
                <p class="paragraph">/* This bio is still a work in progress */</p>
                <p class="paragraph">Some of my interests include:</p>
                <ul class="paragraph">
                    <li>Learning challenging concepts</li>
                    <li>Slammin' keys on my piano</li>
                    <li>Showing affection to pets</li>
                    <li>Developing a bangin' website</li>
                </ul>
                <p>Catch me next time when I decide to update this page.</p>
            </div>
        </div>
    </div>
</section>
<section id="tools" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">My Favorite Tools</h2>
        <div class="columns center">
            <div class="column">
                <hr class="hr">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Back end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/ruby-logo.png", { style: "max-width: 65px", alt: "Ruby logo", class: "column" }) %>
                            <p class="column is-7">Ruby</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/rails-logo.png", { style: "max-width: 65px", alt: "Rails logo", class: "column" }) %>
                            <p class="column is-7">Ruby on Rails</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/rspec-logo-trans.png", { style: "max-width: 65px", alt: "RSpec logo", class: "column" }) %>
                            <p class="column is-7">RSpec</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/postgresql-logo.png", { style: "max-width: 65px", alt: "PostgreSQL logo", class: "column" }) %>
                            <p class="column is-7">PostgreSQL</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Front end</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/HTML5-logo.png", { style: "max-width: 65px", alt: "HTML logo", class: "column" }) %>
                            <p class="column is-7">HTML5</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/javascript-logo.png", { style: "max-width: 65px", alt: "Javascript logo", class: "column" }) %>
                            <p class="column is-7">JavaScript</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/css-logo.png", { style: "max-width: 65px", alt: "CSS logo", class: "column" }) %>
                            <p class="column is-7">CSS</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/sass-logo.png", { style: "max-width: 65px", alt: "Sass logo", class: "column" }) %>
                            <p class="column is-7">Sass</p>
                        </div>

                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/bulma-logo.png", { style: "max-width: 65px", alt: "Bulma logo", class: "column" }) %>
                            <p class="column is-7">Bulma</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <h3 class="subtitle has-text-centered has-text-weight-bold">Miscellaneous</h3>
                    <div class="has-text-left">
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/linux-logo.png", { style: "max-width: 65px", alt: "Linux logo", class: "column" }) %>
                            <p class="column is-7">Linux</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/git-logo.png", { style: "max-width: 65px", alt: "Git logo", class: "column" }) %>
                            <p class="column is-7">Git</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/github-logo.png", { style: "max-width: 65px", alt: "GitHub logo", class: "column"}) %>
                            <p class="column is-7">Github</p>
                        </div>
                        <div class="columns is-vertical-center">
                            <%= image_tag("icons/heroku-logo.png", { style: "max-width: 65px", alt: "Heroku logo", class: "column" }) %>
                            <p class="column is-7">Heroku</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Projects</h2>
        <div class="columns center">
            <div class="column">
                <hr class="hr">
            </div>
        </div>
        <h3 class="subtitle is-size-3">trikeworldltd.com</h3>
        <div class="columns">
            <div class="notification column">
                <%= link_to(
                        image_tag("trikeworldltd-screenshot-scaled.jpg", { alt: "Trike world limited home page" }),
                    "https://trikeworldlimited.herokuapp.com") %>
            </div>
            <div class="column">
                <p class="paragraph">(domain yet to be transferred)</p>
                <p class="paragraph">
                    trikeworldlimited.com is the website I'm currently building for my dad's V8 trike 
                    motorcycle business, Trike World Limited. In my opinion, it looks a little cleaner than the 
                    <%= link_to("website he had before", "http://trikeworldltd.com/") %>.
                </p>
                <p class="paragraph">
                    The website is made with Rails 6, and features an authentication and blogging 
                    system (currently in development), allowing my dad to sign in and 
                    create/edit/delete blog posts on the site at his discretion. The Bulma CSS framework is used for styling.
                </p>
                <p class="paragraph"><%= link_to("https://trikeworldlimited.herokuapp.com", "https://trikeworldlimited.herokuapp.com") %></p>
                <p><%= link_to("View project on github", "https://github.com/coped/v8-trikes") %></p>
            </div>
        </div>
        <h3 class="subtitle is-size-3">coped.dev</h3>
        <div class="columns">
            <div class="notification column">
                <%= link_to(
                    image_tag("coped-screenshot-scaled.png", { alt: "coped.dev home page" }),
                "https://coped.dev") %>
            </div>
            <div class="column">
                <p class="paragraph">
                    The very page you're looking at.
                </p>
                <p class="paragraph">
                    My portfolio page runs on Rails 6, and uses the Bulma CSS framework. 
                    The contact form sends emails to my address using the Rails <strong>ActionMailer::Base</strong>
                    class and the Heroku SendGrid add-on.
                </p>
                <p class="paragraph">
                    The contact form also uses Google's reCAPTCHA verification system, because I recieved spam 
                    messages within the first day of implementing the form.
                </p>
                <p class="paragraph">
                    <%= link_to("https://coped.dev", "https://coped.dev") %>
                </p>
                <p class="paragraph">
                    <%= link_to("View project on github", "https://github.com/coped/my-portfolio") %>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Contact</h2>
        <div class="columns center">
            <div class="column is-two-thirds">
                <hr class="hr">
            </div>
        </div>
        <div class="paragraph center">
            <%= render 'layouts/flash' %>
        </div>
        <div class="columns center">
            <div class="column is-two-thirds">
                <p class="paragraph">
                    Questions or concerns? I can be contacted by <%= link_to("GitHub", "https://github.com/coped") %>, 
                    <%= link_to("LinkedIn", "https://www.linkedin.com/in/dennis-cope-548824164/") %>, or by 
                    <%= mail_to("coped@tutanota.com", "email") %> at <strong>coped@tutanota.com</strong>. You can also use 
                    the form below to email me directly.
                    I'll reply promptly.
                </p>
                <%= form_with(scope: :contact, local: true, url: home_path, id: "contact-form" ) do |f| %>
                    <div class="field">
                        <%= f.label "Name *", { class: "label" } %>
                        <div class="control">
                            <%= f.text_field :name, { class: "input", placeholder: "John Doe", required: "true" } %>
                        </div>
                    </div>

                    <div class="field">
                        <%= f.label "Email *", { class: "label" } %>
                        <div class="control">
                            <%= f.email_field :email, { class: "input", placeholder: "example@email.com", required: "true" } %>
                        </div>
                    </div>

                    <div class="field">
                        <%= f.label "Message *", { class: "label"} %>
                        <div class="control">
                            <%= f.text_area :message, { class: "textarea", rows: "7", placeholder: "Hello!", required: "true" } %>
                        </div>
                    </div>

                    <div class="captcha">
                        <%= recaptcha_tags %>
                    </div>
                        
                    <div class="field">
                        <div class="control">
                            <%= f.submit :submit, class: "button is-link" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>