<section class="hero is-dark is-bold is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <h1 class="title center has-text-weight-light is-size-1">
                    Dennis Cope
                </h1>
                <h2 class="subtitle center has-text-weight-light">
                    Jr Fullstack Developer
                </h2>
            </section>
            <section class="section">
                <div class="columns center">
                    <%= link_to(
                            image_tag("GitHub-Mark-Light-120px-plus-scaled.png",
                            { class: "column", size: "100x100", alt: "Link to github" } ),
                        "https://github.com/coped") %>
                    <%= link_to(
                            image_tag("linkedin-dark-scaled.png",
                            { class: "column", size: "100x100", alt: "Link to linkedin" } ),
                        "https://www.linkedin.com/in/dennis-cope-548824164/") %>
                    <%= mail_to("coped@tutanota.com", image_tag("email-logo-dark-scaled.png",
                                                      { class: "column", size: "100x100", alt: "coped@tutanota" } )) %>
                </div>
            </section>
            <section class="section">
                <h2 class="subtitle has-text-centered is-italic">
                    <%= link_to("Let's build something", "#navbar",
                        { class: "button is-inverted is-dark is-rounded is-outlined" }) %>
                </h2>
            </section>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>
<%= render 'layouts/navbar' %>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">About Me</h2>
        <hr>
        <p class="paragraph">
            I'm a self-taught developer, and I like making web applications.
        </p>
        <p>Some of my interests include:</p>
        <ul>
            <li>Learning challenging concepts</li>
            <li>Slammin' keys on my piano</li>
            <li>Showing affection to pets</li>
            <li>Developing a bangin' website</li>
        </ul>
        <p>Catch me next time when I decide to update this page.</p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">My Favorite Tools</h2>
        <hr>
        <div class="columns">
            <div class="column">
                <div class="notification has-text-centered">
                    <h3 class="subtitle">Back end</h3>
                    <div class="has-text-left has-text-justified">
                        <p class="is-vertical-center">
                            <%= image_tag("icons/ruby-logo.png", { size: "40x40", alt: "Ruby logo" }) %>Ruby
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/rails-logo.png", { size: "40x40", alt: "Rails logo" }) %>Ruby on Rails
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/rspec-logo-trans.png", { size: "40x40", alt: "RSpec logo" }) %>RSpec
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/postgresql-logo.png", { size: "40x40", alt: "PostgreSQL logo" }) %>PostgreSQL
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification has-text-centered">
                    <h3 class="subtitle">Front end</h3>
                    <div class="has-text-left">
                        <p class="is-vertical-center">
                            <%= image_tag("icons/HTML5-logo.png", { size: "40x40", alt: "HTML logo" }) %>HTML5
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/css-logo.png", { size: "40x40", alt: "CSS logo" }) %>CSS
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/sass-logo.png", { size: "40x40", alt: "Sass logo" }) %>Sass
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/javascript-logo.png", { size: "40x40", alt: "Javascript logo" }) %>JavaScript
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/bulma-logo.png", { size: "40x40", alt: "Bulma logo" }) %>Bulma
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification has-text-centered">
                    <h3 class="subtitle">Miscellaneous</h3>
                        <div class="has-text-left">
                        <p class="is-vertical-center">
                            <%= image_tag("icons/linux-logo.png", { size: "40x40", alt: "Linux logo" }) %>Linux
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/git-logo.png", { size: "40x40", alt: "Git logo" }) %>Git
                        </p>
                        <p class="is-vertical-center">
                            <%= image_tag("icons/heroku-logo.png", { size: "40x40", alt: "Heroku logo" }) %>Heroku
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Projects</h2>
        <hr>
        <h3 class="subtitle is-size-3">trikeworldltd.com</h3>
        <div class="columns">
            <div class="notification column">
                <%= link_to(
                        image_tag("trikeworldltd-scaled.png", { alt: "Trike world limited homepage" }),
                    "https://trikeworldlimited.herokuapp.com") %>
            </div>
            <div class="column">
                <p class="paragraph">(domain yet to transfer)</p>
                <p class="paragraph">
                    trikeworldlimited.com is the website I'm currently building for my dad's V8 trike 
                    motorcycle business, Trike World Limited. In my opinion, it looks a little cleaner than the 
                    <%= link_to("website he had before", "http://trikeworldltd.com/") %>.
                </p>
                <p class="paragraph">
                    The website is made with Rails 6, and features an authentication and blogging 
                    system (currently in development), allowing my dad to sign in and 
                    create/edit/delete blog posts on the site at his discretion. The Bulma CSS framework is used for styling.
                </p>
                <p class="paragraph"><%= link_to("https://trikeworldlimited.herokuapp.com", "https://trikeworldlimited.herokuapp.com") %></p>
                <p><%= link_to("View project on github", "https://github.com/coped/v8-trikes") %></p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="is-size-2 has-text-weight-light center title">Contact</h2>
        <hr>
    </div>
</section>